services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sushiburgerexperience_app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    ports:
      - "5173:5173"
    networks:
      - mysql_net

  nginx:
    image: nginx:alpine
    container_name: sushiburgerexperience_nginx
    ports:
      - "8080:80"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - mysql_net

networks:
  mysql_net:
    external: true
